@page "/about"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h3 class="text-primary">Who am I?</h3>
            <h2>I'm John Doe, a passionate .NET Developer.</h2>
            <p class="d-inline-flex">
                I am a software developer that specializes in .NET and Azure development.
                <br />
                <br />
                Solving problems with software is fun to me.

                <br />
                <br />

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisi convallis, interdum metus id, aliquam enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec mauris nunc, pharetra ac odio id, gravida malesuada quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ultricies et mauris et rutrum. Donec varius libero sed hendrerit faucibus. Donec rutrum sapien neque, eu euismod arcu tincidunt et. Donec ut enim a enim fringilla tincidunt. Proin imperdiet sollicitudin metus, eget ultrices urna scelerisque ac. Cras sollicitudin ipsum nunc, vel tristique diam gravida id. Sed vehicula faucibus imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                <br />
                <br />

                <h2>Background</h2>
                Curabitur rutrum turpis diam, vitae lobortis ligula egestas nec. Vivamus facilisis lectus eget nulla aliquam, vitae ultricies diam scelerisque. Sed sapien nisi, posuere sit amet aliquam a, convallis sed lacus. Duis luctus ante eget risus congue fermentum in a urna. Ut consequat imperdiet arcu, ut ullamcorper quam tincidunt aliquam. In non nisl consectetur, dapibus neque in, fermentum nisl. Curabitur facilisis consequat lorem vel molestie.
            </p>

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <a href="assets/docs/test-pdf.pdf" download class="btn btn-primary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-file-pdf"></i>&nbsp;View resume
                    </a>
                </div>
                 <div class="col-md-6">
                    <a href="/portfolio" class="btn btn-secondary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-project-diagram"></i>&nbsp;Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />