@page "/blog"
@using Client.Components.Public.Blog

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="my-3">Blog</h1>
            <p>Click a category card to view its blog posts.</p>

            <div class="row">
                <div class="col-md-4">
                    <CategoryCard />
                </div>

                <div class="col-md-4">
                    <CategoryCard />
                </div>

                <div class="col-md-4">
                    <CategoryCard />
                </div>

            </div>
        </div>
    </div>

</main>

<Client.Components.Public.Shared.Footer />