@page "/contact"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h1 class="mb-4">Contact</h1>
            <p class="mb-5">
                My preferred form of contact is via email. I usually reply within 24 hours.
            </p>
            <a href="mailto:johndoe@mail.com" class="h3">johndoe@mail.com</a>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />