@page "/"

<Client.Components.Public.Shared.Navbar />

<main class="d-flex flex-column w-100 min-vh-90 justify-content-center align-items-center overflow-auto bg-motherboard-dev">
    <div class="container g-0">
        <div class="row g-0">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 d-inline-flex flex-column bg-white-94 p-5 shadow-no-hover">
                <h1 class="d-inline-flex">Welcome to my little corner of the internet.</h1>
                <p class="d-inline-flex">
                    I am a software developer that specializes in .NET and Azure web development.
                    <br />
                    <br />
                    Solving problems with software is fun to me.
                </p>
                <a href="/portfolio" class="btn btn-primary shadow btn-lg fw-bold mt-3 md-f-size-1-5">
                    <i class="fas fa-project-diagram"></i> Projects
                </a>
                <a href="/about" class="btn btn-secondary shadow btn-lg fw-bold mt-4 md-f-size-1-5">
                    <i class="fas fa-info-circle"></i> More information
                </a>
            </div>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />