@page "/skills"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Skills</h1>

            <p>On this page I have highlighted my key technical skills that I bring to software development teams.</p>

            <div class="row mt-4">

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/CSharp.png" class="card-img-top" alt="Skill card thumbnail image" />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Programming</h3>

                            <p class="card-text">
                                I use the programming language C# on a daily basis to build websites and web apps.
                                C# enables me to write fast, clean and maintainable code.
                                I'm also well versed in .NET, the ecosystem that C# runs on.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/SQLDatabase.png" class="card-img-top" alt="Skill card thumbnail image" />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">Database Development</h3>

                            <p class="card-text">
                                Database development is critical to most projects. I am well versed in SQL development, from queries to design. I can also do code-first databases with Entity Framework.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/AspNetBlazor.png" class="card-img-top" alt="Skill card thumbnail image" />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">ASP.NET Core + Blazor</h3>
                            <p class="card-text">
                                I use proven design patterns and frameworks to build websites. The mature framework ASP.NET with its new addition Blazor fits the bill for most projects.
                                Visit my portfolio to see examples.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-3">

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Azure.png" class="card-img-top" alt="Skill card thumbnail image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Azure DevOps</h3>
                            <p class="card-text">
                                I use Azure to host my applications securely in the cloud.
                                The Azure cloud platform is an enterprise-grade cloud platform and consists of more than 200 products and cloud services designed to help developers create new solutions.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/HTML5CSS3JS.png" class="card-img-top" alt="Skill card thumbnail image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Front End Core Languages</h3>
                            <p class="card-text">
                                I use HTML, CSS and JavaScript to build responsive front ends for websites. This dynamic trio lies at the heart of most web applications you'll find on the web today.
                                Check out my front end work in the portfolio area.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Bootstrap.png" class="card-img-top" alt="Skill card thumbnail image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Bootstrap Front End Design</h3>
                            <p class="card-text">
                                The look and feel are very important elements to any project. These days, anything you can view on the web should look good on screens of all sizes.
                                I utilize the Bootstrap framework to bring an attractive and responsive design to web apps.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />