<div class="modal fade @_modalClass" id="informationalModal" tabindex="-1" aria-labelledby="informationalModalLabel" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informationalModalLabel">Example Portfolio Project</h5>
                <button @onclick="CloseModal" type="button" class="btn-close" data-bs-dismiss="modal" aira-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="carouselWithIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">

                                <img src="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/bg-motherboard.jpg" target="_blank">

                                <img src="assets/img/publicbackgrounds/bg-motherboard.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">

                                <img src="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <p class="text-muted my-2">
                    Click an image to view it full screen (opens a new tab).
                </p>

                <a href="https://dotnet.microsoft.com/apps/aspnet" class="btn btn-lg d-block mx-5 btn-primary mt-5 shadow" target="_blank">
                    <i class="fas fa-laptop-code"></i> Live Demo
                </a>

                <a href="https://github.com/dotnet/aspnetcore" class="btn btn-lg d-block mx-5 bg-dark text-white mt-3 shadow" target="_blank">
                    <i class="fab fa-github-square"></i> GitHub Repo
                </a>

                <h1 class="mt-5">Description</h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus nisl ut ligula dictum, sit amet tempor lectus feugiat. Phasellus eu imperdiet neque. Quisque vitae sapien ut nibh viverra finibus. Donec at imperdiet libero. Nullam mi leo, ultricies eu sapien a, dignissim auctor sem. Donec ac congue lacus, at pulvinar magna. Fusce a nulla nec metus rutrum congue. Curabitur ac efficitur diam, vitae condimentum libero. Morbi pellentesque imperdiet nulla, sit amet egestas turpis porta eget. Curabitur blandit, lacus at faucibus pulvinar, mi tellus eleifend dui, sed ornare nibh sem a enim. Suspendisse posuere, mi ut consequat tristique, leo nisl egestas ex, sit amet tempor enim libero nec diam.
                    <br />
                    <br />
                    Duis commodo, felis sed eleifend iaculis, massa ex tempor turpis, sed tempus felis ligula sit amet metus. Proin non nisi aliquet, ullamcorper nisi id, maximus neque. Fusce at tellus nulla. Cras tincidunt porta dolor. Nam a ex eget lacus iaculis egestas lacinia vitae nisl. Vivamus sit amet orci non erat porttitor dapibus ac quis ligula. Curabitur et facilisis dui. Sed accumsan ipsum semper justo rhoncus tristique. Maecenas eu tincidunt ipsum. Nulla sit amet congue ligula. Mauris vel ex euismod, tempus diam nec, dapibus enim. Aliquam fermentum, lectus sit amet dictum ornare, lectus purus maximus est, id lobortis lectus eros eget velit. Fusce gravida nulla at sodales tincidunt.
                </p>

                <h1 class="mt-5">Core Features</h1>
                <ul>
                    <li>Feature one</li>
                    <li>Feature two</li>
                    <li>Feature three</li>
                    <li>Feature four</li>
                    <li>Feature five</li>
                    <li>Feature six</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button @onclick="CloseModal" type="button" class="btn btn-primary btn-lg shadow" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@if (_showBackdrop == true)
{
    <div class="modal-backdrop fade show"></div>
}

@code
{
    [Parameter] public EventCallback ParentMethodToCallOnClickBtnClose { get; set; }
    private string _modalDisplay = null;
    private string _modalClass = null;
    private bool _showBackdrop = false;

    protected override void OnInitialized() => ShowModal();

    private void ShowModal()
    {
        _modalDisplay = "block;";
        _modalClass = "show";
        _showBackdrop = true;
    }

    private void CloseModal()
    {
        _modalDisplay = "none;";
        _modalClass = string.Empty;
        _showBackdrop = false;
        ParentMethodToCallOnClickBtnClose.InvokeAsync();
    }
}