<div class="card shadow mb-2">
    <img src="@($"{APIEndpoints.ServerBaseUrl}/{Category.ThumbnailImagePath}")" class="card-img-top" alt="Category thumbnail image" />
    <div class="card-body">
        <h3 class="card-title">@Category.Name</h3>
        <p class="card-text">@Category.Description</p>
    </div>

    <a href="/" class="btn btn-primary stretched-link">View posts</a>
</div>

@code
{
    [Parameter] public Category Category { get; set; }
}