<div class="card shadow mb-2">
    <img src="assets/img/other/placeholder.jpg" class="card-img-top" alt="Category thumbnail image" />
    <div class="card-body">
        <h3 class="card-title">Category name</h3>
        <p class="card-text">Category description</p>
    </div>

    <a href="/" class="btn btn-primary stretched-link">View posts</a>
</div>